.container{
    color: #ffffff;
    background-color: #22262b;
}

.header {
    margin: 0 auto;
    width: 100%;
  max-width: 1070px;
  line-height: 40px;
    display: grid;
  grid-template-columns: auto 130px 130px 330px;
  grid-column-gap:0;
}

.connect_m button {
  width: 180px;
  border-radius: 0;
  background-color: #dddddf;
  color: #b02fde;
}


.header_m  {
  line-height: 40px;
  display: none;
}

.title {
    margin: auto auto auto 20px;
    font-size: 1.61rem;
    letter-spacing: 0.09em;
    color: #74328a;
    font-family: 'Exo-2', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.sell,
.home,
.connect {
    font-size: 1.1rem;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.15s ease,background-color 0.15s ease;
    /* border: 1px solid #dddddf; */
}
.connect {
    display: flex;
    justify-content:flex-end;
} 

.connect button {
  height: 36px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 1px;
}

.connect button span {
  color: #22262b;
}

.sell:hover,
.home:hover {
  background-color: #383c40;
      color: #ffffff;
}


  @media screen and (max-width: 820px) {
    .header {
      display: none;
    }
    .header_m {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto 105px;
    grid-column-gap:10px;
    }

    .popup_box {
      display: flex;
      width: 105px;
      height: 50px;
      cursor: pointer;
      color: #dddddf;
      transition: color 0.15s ease,background-color 0.15s ease;
    }
    .popup_box:hover {
      background-color: #383c40;
      color: #ffffff;
    }

    .popup_box span {
      
      margin: auto 24px auto auto;
      height: 24px;
      width: 24px;
    }
  
    .list {
      display: block;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .home_m,
    .sell_m,
    .connect_m {
      cursor: pointer;
      color: #dddddf;
      font-size: 1.15rem;
      margin: 5px 0 5px auto;
      display: flex;
      justify-content:flex-end;
      width: 180px;
      transition: color 0.15s ease,background-color 0.15s ease;
    }
    .home_m,
    .sell_m{
      margin-right: 15px;
      padding: 10px 10px 10px 10px;
    }
    .home_m:hover,
    .sell_m:hover{
      background-color: #383c40;
      color: #ffffff;
    }

    .home_m span,
    .sell_m span{
      margin: auto 0 auto auto;
      height: 22px;
      width: 22px;
    }
    

    .connect_m button {
      border-radius: 2px;
    }
  }
  